@media (prefers-color-scheme:light){
    :root {
        --background:#d8dee9;
        --background-dim:#eceff4;
        --foreground:#2e3440;
        --foreground-dim:#3b4252;
        --foreground-heavy:#4c566a;
        --primary-color:#5e81ac;
        --code-color:#a3be8c;
        --highlight:firebrick;
    }
}
@media (prefers-color-scheme:dark){
    :root {
        --background:#2e3440;
        --background-dim:#3b4252;
        --foreground:#d8dee9;
        --foreground-dim:#c2c7d1;
        --foreground-heavy:#eceff4;
        --primary-color:#81a1c1;
        --code-color:#a3be8c;
        --highlight:orange;
    }
}
html {font-family:system-ui, sans-serif;}
body {
    width:700px;
    max-width:95%;
    margin:0 auto;
    padding:0rem .5rem;
    line-height:1.5;
    background:var(--background);
    color:var(--foreground);
}
body > header {padding:.5rem 0 1rem 0;}
nav {float:right;}
nav ul {margin:0;}
nav li {display:inline; margin-left:.5rem;}
header h1 {
    line-height:1.2;
    margin:0;
    color:var(--primary-color);
}
header h1 img {width:4rem; float:left;}
header h1 a {padding:.3rem;}
header h2 {
    display:inline;
    font-size:1rem;
    padding-left:.3rem;
    background-color:transparent;
    color:var(--foreground);
}
header h2 a {background-color:transparent; color:var(--primary-color);}
header h2 a:hover {background-color:transparent; color:var(--foreground-heavy);}
.subtitle {font-weight:normal; font-style:italic;}
h1, h2, h3, h4, h5, h6, strong {color:var(--foreground-heavy);}
main h2 {
    font-size:1.5em;
    margin-top:2em;
    text-align:center;
    color:var(--background);
    background-color:var(--foreground);
    transition:all 0.8s;
}
main h2:before {content: "# \003E  ";}
main h3 {
    font-size:1.2em;
    color:var(--background);
    background-color:var(--foreground);
    padding:0 1em;
    margin-top:2em;
}
main h3:before {content: "# ";}
main h4 {
    font-size:1.1em;
    background-color:var(--background-dim);
    padding:0.2em;
    margin-top:2em;
}
main h4:before {content: "\003E  ";}
main h5 {
    font-size:1.1em;
    margin-bottom:1em;
}
h2 a {width:100%; color:var(--background);}
h2 a:hover {background-color:var(--foreground); color:var(--primary-color);}
a {color:var(--primary-color); text-decoration:none;}
a:hover {background-color:var(--background-dim);}
code, pre {
    background:var(--background-dim);
    font-family:monospace;
    font-size:.9rem;
}
pre {
    padding:.5rem;
    border-left:2px solid var(--code-color);
    overflow:auto;
}
code {padding:.1rem 0.2rem;}
/* reset the padding for code inside pre */
pre code {padding:0;}
kbd {
    color:var(--foreground-heavy);
    font-size:.9em;
    line-height:1.8em;
    background-color:var(--background-dim);
    border:1px solid var(--foreground-heavy);
    -webkit-border-radius:3px;
    border-radius:3px;
    margin:0 .2em;
    padding:.1em .3em;
    top:-.1em;
    white-space:nowrap;
}
/* reset the margin for p inside list */
li p {margin:0;}

.center {text-align:center;}
.caption {font-size:.8em; font-style:italic;}
img {max-width:100%; height:auto; vertical-align:middle;}
img.wiki {box-shadow:0px 0px 4px var(--foreground-dim);}
img.face {float:left; margin:10px;}

table {width:100%; border-collapse:collapse;}
th, td {padding:.2em; border:1px solid var(--foreground);}
th {background-color:var(--background-dim); color:var(--foreground-heavy);}

body footer {
    margin:1rem 0 0 0;
    padding:.1rem 0;
    color:var(--foreground-dim);
    font-size:smaller;
    text-align:center;
    border-top:1px solid var(--foreground-dim);
}
footer img {max-height:22px; margin:0 5px;}

#totop a {
    z-index:1;
    position:fixed;
    bottom:.2em;
    right:.2em;
    padding:0 .2em .1em .2em;
    font-size:2em;
    line-height:1;
    font-weight:bold;
    text-align:center;
    background-color:var(--highlight);
    opacity:35%;
    transition:all .2s ease-in-out;
    border:1px var(--highlight);
}
#totop a:hover {
    opacity:100%;
    background-color:var(--background-dim);
    border:1px var(--foreground-heavy);
}
