* { font-family: forkawesome, Hack; font-size: 11px; }
window#waybar {
    background-color: #2e3440;
    color: #d8dee9;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.85;
    border: none;
}
window#waybar.hidden { opacity: 0.2; }
button:hover { background: inherit; }
#workspaces button { padding: 0 5px; background-color: transparent; color: #88c0d0; }
#workspaces button:hover { background-color: #4c566a; color: #d8dee9; }
#workspaces button.focused { background-color: #4c566a; color: #eceff4; }
#workspaces button.urgent { background-color: #bf616a; color: #d8dee9; }
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-popmenu,
#custom-ssh,
#custom-filezilla,
#custom-lftp,
#custom-trash,
#custom-update,
#custom-infosbox,
#custom-infosystem,
#custom-wlsunset,
#tray,
#mode,
#idle_inhibitor,
#scratchpad { padding: 0 5px; background-color: #2e3440; }

#window, #workspaces { margin: 0 2px; }
#mode { background-color: #d08770; color: #2e3440; }
#custom-popmenu { color: #eceff4; }
#custom-ssh, #custom-filezilla, #custom-lftp { background-color: #bf616a; }
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }
#custom-update { background-color: #bf616a; padding-right: 2px; }
#battery.charging, #battery.plugged, #battery.full { color: #a3be8c; }
@keyframes blink {
    to { background-color: #eceff4; color: #2e3440; }
}
#battery.good:not(.charging) { color: #a3be8c; }
#battery.warning:not(.charging) {
    color: #bf616a;
    background-color: #4c566a;
}
#battery.critical:not(.charging) {
    background-color: #bf616a;
    color: #d8dee9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
label:focus { background-color: #2e3440; }
#cpu { color: #88c0d0; padding-right: 0; }
#cpu.warning { color: #d08770; }
#cpu.critical { color: #bf616a; }
#memory { color: #a3be8c; }
#memory.warning { color: #d08770; }
#memory.critical { color: #bf616a; }
#disk { color: #ebcb8b; }
#disk.warning { color: #d08770; }
#disk.critical { color: #bf616a; }
#backlight { color: #d8dee9; }
#network { color: #81a1c1; }
#network.disconnected { color: #bf616a; }
#pulseaudio { color: #d8dee9; }
#pulseaudio.muted { color: #bf616a; }
#temperature { color: #88c0d0; }
#temperature.critical { color: #bf616a; }
#custom-wlsunset.on { color: #d08770; }
#custom-wlsunset.off { color: #d8dee9; }
#custom-infosbox { color: #88c0d0; }
#custom-infosystem { color: #b48ead; }
#tray { background-color: #4c566a; }
#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: #eb4d4b; }
#idle_inhibitor.activated { background-color: #88c0d0; color: #2e3440; }
#keyboard-state { padding: 0; margin: 0; }
#keyboard-state > label.locked { background-color: #bf616a; padding: 0 5px; }
#scratchpad.empty { background-color: transparent; }
